.container
  = render partial: 'items/header'

  = render partial: 'bread-crumbs'

  .main-box
    
    = render partial: 'side-bar'

    .main-view
      .main-chapter
        .main-chapter__bar
          .logout-btn
            %button.logout-btn{type: "submit"} ログアウト
            
            -# 下のコメントアウトは機能実装の際に外す
            -# = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'





  = render partial: 'items/bottom'

  = render partial: 'items/sell-btn'