.container
  = render partial: 'items/header'

  = render partial: 'devise/registrations/bread-crumbs'

  .main-box
    
    = render partial: 'devise/registrations/side-bar'

    .main-view
      .main-confimation
        %h2.main-confimation__head
          本人情報の登録





  = render partial: 'items/bottom'

  = render partial: 'items/sell-btn'