.container
  = render partial: 'items/header'

  = render partial: 'devise/registrations/bread-crumbs'

  .main-box
    
    = render partial: 'devise/registrations/side-bar'

    .main-view
      .main-profile
        .main-profile__head
          プロフィール



  = render partial: 'items/bottom'

  = render partial: 'items/sell-btn'