-# ここからpまでが新規登録画面6　住所画面
.register6_header
  .register6_header_logo
    = image_tag 'mercari_logo.png'
    -# 写真は本番のときに改めて差し替える
  .register6_header_status_bar
    %span{class: "register6_header_status_bar_information"} 会員情報
    %span{class: "register6_header_status_bar_phone"} 電話番号認証
    %span{class: "register6_header_status_bar_adress"} お届け先住所入力
    %span{style: "color: red;",class: "register6_header_status_bar_payment"} 支払い方法
    %span{class: "register6_header_status_bar_accomplish"} 完了
    %hr
    %hr.red_line4
.register_user_register6
  .register_user_register6_contents
    %h1 支払先
    = form_with(method: "POST", url:"/credits", class: "register_user_register6_contents_form") do |f|
      .field
        = f.label :"カード番号　"
        = f.text_field :number, placeholder: "半角数字のみ", class: "credit_card_number_form", maxlength: "16"
        %p
      .field
        = f.label :"有効期限　"
        .field_expire_form
          = f.date_select :exp_year, class: "credit_card_exp_year_form", discard_month: true, discard_day: true, start_year: 2000, end_year: Time.current.year + 20, default: { year: Time.current.year}, maxlength: "4",value:"2020"
          %span 年
          = f.date_select :exp_month, class: "credit_card_exp_month_form", discard_year: true, discard_day: true, use_month_numbers: true, default: {month: 1}, maxlength: "2",value:"12"
          %span 月
      .field.field_security_code
        = f.label :"セキュリティコード　"
        = f.text_field :cvc, placeholder: "カード背面4桁もしくは3桁の番号", class: "credit_card_cvc_form", maxlength: "3"
        = link_to "カード裏面の番号とは？", "#"
      %button{type:"submit", class:"btn"} 送信
      %br

%nav.footer
  %ul
    %li
      = link_to "プライバシーポリシー", "#"
    %li
      = link_to "メルカリ利用規約", "#"
    %li
      = link_to "特定商取引に関する表記", "#"
  = image_tag 'mercari_logo2.png'
  %p ©︎2019 Mercari