-# ここからpまでが新規登録画面3　電話番号認証
.register_header
  .register_header_logo
    = image_tag 'mercari_logo.png'
    -# 写真は本番のときに改めて差し替える
  .register_header_status_bar
    %span{class: "register_header_status_bar_information"} 会員情報
    %span{style: "color: red;",class: "register_header_status_bar_phone"} 電話番号認証
    %span{class: "register_header_status_bar_adress"} お届け先住所入力
    %span{class: "register_header_status_bar_payment"} 支払い方法
    %span{class: "register_header_status_bar_acomplish"} 完了
    %hr
    %hr.red_line
.register_user_register3
  .register_user_register3_contents
    %h1 電話番号認証
    = form_with(model: @user, url: sign_up_shipping_users_path, class: "register_user_register3_contents_form", local: true) do |f|
      .field
        = f.label :"認証番号"
        = f.text_field :sign_up_sms, placeholder: "SMSで届いた認証番号を入力してください"
        %p SMSで届いた認証番号を入力してください
        = f.submit "認証して完了", class: "btn"

    %hr
    .register_user_register3_contents_recall
      .field
        %h2 30秒たっても認証番号が届かない方へ
        %span 電話で認証番号を聞くこともできます
        = link_to "電話で認証番号を聞く（通話無料）", "#", class: "btn"
        
    %hr
    .register_user_register3_contents_resend
      .field
        %h2 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
        = link_to "電話番号を再度入力する", "#"
        %span<>
          ※SMSが届かない場合は

          = link_to "SMS受信設定", "#"

          を確認して、もう一度電話番号を入力してください。

%nav.footer
  %ul
    %li
      = link_to "プライバシーポリシー", "#"
    %li
      = link_to "メルカリ利用規約", "#"
    %li
      = link_to "特定商取引に関する表記", "#"
  = image_tag 'mercari_logo2.png'
  -# 写真は本番のときに改めて差し替える
  %p ©︎2019 Mercari

-# テスト用
.container
  .sell-btn
    = link_to "/items/hidden" do
      - flash.each do |key, value|
        = content_tag :div, value, class: key
      %i.fas.fa-camera