.register_header
  .register_header_logo
    = image_tag '/mercari_logo.png'




.hello
  hello



%nav.footer
  %ul
    %li
      = link_to "プライバシーポリシー", "#"
    %li
      = link_to "メルカリ利用規約", "#"
    %li
      = link_to "特定商取引に関する表記", "#"
  = image_tag '/mercari_logo2.png'
  %p ©︎2019 Mercari