.register_header
  .register_header_logo
    = image_tag 'mercari_logo.png'
-# 写真は本番のときに改めて差し替える
.sign_in
  .sign_in_methods
    %h1
      アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", sign_up_sns_users_path,class: "btn btn_sign_up"
    %ul
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          %li{class: "btn btn_#{OmniAuth::Utils.camelize(provider).downcase}"}
            = link_to "#{OmniAuth::Utils.camelize(provider)}でログイン"
    = form_for(@user, url: user_session_path) do |f|
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
      .field
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
      .actions
        = f.submit "ログイン", class: "login"
    = link_to "パスワードをお忘れの方", "#", class: "forget_password"
%nav.footer
  %ul
    %li
      = link_to "プライバシーポリシー", "#"
    %li
      = link_to "メルカリ利用規約", "#"
    %li
      = link_to "特定商取引に関する表記", "#"
  = image_tag 'mercari_logo2.png'
  %p ©︎2019 Mercari