= form_with model: @item, id: "edit_item" do |f|
  .register_header
    .register_header_logo
      = image_tag 'mercari_logo.png'

  .edit-main
    .edit-main__box
      .edit-content
        %h2.edit-content__header
          商品の情報を入力  

        .edit-content__form
          .edit-upload-box
            %h3.edit-upload-box__head
              出品画像
              %span 必須
            %p 最大10枚までアップロードできます
            .edit-upload-box__drop
              .edit-upload-box__drop_wrap
                .drop-box-input
                  = f.file_field :image, multiple: true,class: "image_field",accept: "image/*"
                  %p 
                    ドラックアンドドロップ
                    %br
                      またはクリックしてファイルをアップロード
                  - @pictures.each_with_index do |picture, index|
                    %div{class: "drop-box-input_upload #{index}"}
                      %img.photo{:class => "image_#{index} #{index}", :src => picture.image.url}/
                      .drop-box-input_upload_edit
                        %span.drop-box-input_upload_edit_btn.drop-box-input_upload_btn{:class => "image_edit_#{index} #{index}"} 編集
                        %span.drop-box-input_upload_delete_btn.drop-box-input_upload_btn{:class => "image_delete_#{index} #{index}"} 削除
          .edit-item
            .edit-item__name
              商品名
              %span 必須
              .edit-item__name__input
                = f.text_area :name, placeholder: "商品名（必須 40文字まで)", value: @item.name,class: "input-default"
            .edit-item__discription
              商品の説明
              %span 必須
              .edit-item__discription__text
                = f.text_area :text, class:"textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5",value: @item.text

          .edit-content
            %h3.edit-content__head
              商品の詳細
            .edit-content__select-box
              .select-pulldown
                カテゴリー
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.collection_select(:big_category_id, @big_categories, :id, :name ,class:"big_category_select", selected: @item_category.root.id)
                  - @big_categories.each do |big_category|
                    - if big_category.children.ids.include?(@item_category.parent.id)
                      = f.collection_select(:middle_category_id, big_category.children, :id, :name, {prompt: "カテゴリを選択してください", selected: @item_category.parent.id} ,class:"middle_category_select middle-#{big_category.id}", style: "display: block")
                    -else
                      = f.collection_select(:middle_category_id, big_category.children, :id, :name, {prompt: "カテゴリを選択してください"} ,class:"middle_category_select middle-#{big_category.id}")
                    - big_category.children.each do |middle_category|
                      - if middle_category.children.ids.include?(@item_category.id)
                        = f.collection_select(:small_category_id, middle_category.children, :id, :name, {prompt: "カテゴリを選択してください", selected: @item_category.id} ,class:"small_category_select small-#{middle_category.id}", style: "display: block")
                      - else
                        = f.collection_select(:small_category_id, middle_category.children, :id, :name, {prompt: "カテゴリを選択してください"} ,class:"small_category_select small-#{middle_category.id}")
                  = f.hidden_field :category_id, value: @item_category.id
                  - if @item.size
                    = f.select :size, class:"select-default", prompt: "--------" do
                      - [['150cm以下', 1], ['150~160cm', 2],['160~170cm', 3],['170~180cm', 4],['180cm以上', 5],['その他', 6]].each do |c|
                        - if @item.size.to_i == c.last
                          = content_tag(:option, c.first, value: c.last,selected: @item.size.to_i)
                        - else
                          = content_tag(:option, c.first, value: c.last)
            .edit-content__select-add-box
              .select-pulldown
                商品の状態
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.select :condition, class:"select-default" do
                    - [['新品、未使用', 1], ['未使用に近い', 2],['目立った傷や汚れなし', 3],['やや傷や汚れあり', 4],['傷や汚れあり', 5],['全体的に状態が悪い', 6]].each do |c|
                      - if @item.condition.to_i == c.last
                        = content_tag(:option, c.first, value: c.last, selected: @item.condition.to_i)
                      - else
                        = content_tag(:option, c.first, value: c.last)
          .edit-content
            %h3.edit-content__head
              配送について
            .edit-content__select-box
              .select-pulldown
                配送料の負担
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.select :cost_burden, class:"select-default" do
                    - [['送料込み(出品者負担)',0], ['着払い(購入者負担)', 1]].each do |c|
                      - if @item.cost_burden.to_i == c.last
                        = content_tag(:option, c.first, value: c.last, selected: @item.cost_burden)
                      - else
                        = content_tag(:option, c.first, value: c.last)


            .edit-content__select-add-box
              .select-pulldown
                発送元の地域
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.collection_select :shipping_from, Prefecture.all, :id, :name, {prompt: '---'}, class: "prefecture_id", selected: @item.shipping_from


            .edit-content__select-add-box
              .select-pulldown
                発送までの日数
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.select :shipping_day, class:"select-default" do
                    - [['1~2日で発送',0], ['2~3日で発送', 1], ['4~7日で発送', 2]].each do |c|
                      - if @item.shipping_day.to_i == c.last
                        = content_tag(:option, c.first, value: c.last, selected: @item.shipping_day)
                      - else
                        = content_tag(:option, c.first, value: c.last)
          .edit-content
            %h3.edit-content__head
              販売価格(300~9,999,999)
            .edit-content__select-box
              %li.select-decide
                .select-decide__price
                  価格
                  %span 必須
                .select-decide__input
                  ¥
                  = f.text_field :price, type: "number", placeholder: "例）300", value: @item.price, name: "price",oninput: "vop2.value = Number(price.value) - Number(price.value) / 10, vop1.value = Number(price.value) / 10;"
              .fee-box
                .fee-box__left
                  販売手数料(10%)
                .fee-box__right
                  %output{name: "vop1"}
                    ¥
                    = @item.price / 10

              .profit-box
                .profit-box__left
                  販売利益
                .profit-box__right
                  %output{name: "vop2"}
                    ¥
                    = (@item.price * 9) / 10
          .edit-btn-box
            .edit-btn-box__note
              禁止されている出品、行為を必ずご確認ください。
              %br
              またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %br
              また、出品をもちまして加盟店規約に相違したことになります。
            .edit-btn-box__push
              %button.btn-default{type: "submit"} 変更する
            .edit-btn-box__back
              = link_to root_path do
                .btn-default
                  もどる



  %nav.footer
    %ul
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "メルカリ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
    = image_tag 'mercari_logo2.png'
    %p ©︎2019 Mercari