%p= link_to "トップページ", root_path

user_path
%p= link_to "new_user_session", new_user_session_path
-# %p= link_to "users_sign_up_payment_confirmation", users_sign_up_payment_confirmation_path

%p= link_to "users_logout", destroy_user_session_path
-# %p= link_to "", "_path"

%p= link_to "sign_up_sns_users", sign_up_sns_users_path
%p= link_to "sign_up_user_info_path", sign_up_user_info_users_path
%p= link_to "sign_up_phone_users_path", sign_up_phone_users_path
%p= link_to "sign_up_sms_users_path", sign_up_sms_users_path
%p= link_to "sign_up_shipping_users_path", sign_up_shipping_users_path
%p= link_to "sign_up_credit_users_path", sign_up_credit_users_path

- if user_signed_in?
  users
  %p= link_to "users#show", user_path(id: current_user.id)
  %p= link_to "users#edit", edit_user_path(id: current_user.id)
  %p= link_to "users#profile", profile_user_path(id: current_user.id)
  %p= link_to "users#destroy　マージするときに削除　それまで仮置き", destroy_user_session_path, method: "DELETE"
  item
  %p= link_to "items#index", items_path
  %p= link_to "items#show", item_path(id: current_user.items.first.id)
  %p= link_to "items#new", new_item_path
  %p= link_to "items#edit", edit_item_path(id: current_user.items.first.id)