.container
  = render partial: 'header'

  .main
    
    .main__owl 
      -# 非同期にてスライドするところ
      .main__owl__content
        %h2 
          スマホでかんたん
          %br 
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .main__owl__content__icon
          %ul
            %li
              = link_to "https://apps.apple.com/jp/app/id667861049?l=ja" do
                %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4248847005"}/
            %li
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
                %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4248847005"}/
      .main__owl__image
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4248847005"}/
  .main-content
    .pickup
      .pickup__header
        %h2 ピックアップカテゴリー
        .pickup__header__type
          = link_to "#" do
            %h3 レディース新着アイテム
        .pickup__header__item
          %ul
            = render partial: 'item-box', collection: @ladies_items



        .pickup__header__all
          = link_to "#" do
            すべての商品を見る
      .pickup__header
        %h2 ピックアップブランド
        .pickup__header__type
          = link_to "#" do
            %h3 シャネル新着アイテム
        .pickup__header__item
          %ul
            -# この部分は、renderで繰り返し、アイテム部分
            -# = render partial: 'item-box', collection: @ladies_items 
            %li 
              

            %li item
            %li item
            %li item
        .pickup__header__all
          = link_to "#" do
            すべての商品を見る
  
  = render partial: 'bottom'