
= form_for @item do |f|
  .register_header
    .register_header_logo
      = image_tag 'mercari_logo.png'

  .sell-main
    .sell-main__box
      .sell-content
        %h2.sell-content__header
          商品の情報を入力  

        .sell-content__form
          .sell-upload-box
            %h3.sell-upload-box__head
              出品画像
              %span 必須
            %p 最大10枚までアップロードできます
            .sell-upload-box__drop
              %label
                .drop-box-input
                  ドラックアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
                %input.image{multiple: "", name: "image1", display: "none",type: "file"}/

                
              

          .sell-item
            .sell-item__name
              商品名
              %span 必須
              .sell-item__name__input
                %input.input-default{placeholder: "商品名（必須 40文字まで)", value: ""}/
            .sell-item__discription
              商品の説明
              %span 必須
              .sell-item__discription__text
                %textarea.textarea-default{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}

          .sell-content
            %h3.sell-content__head
              商品の詳細
            .sell-content__select-box
              .select-pulldown
                カテゴリー
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down

                  %select.select-default
                    %option{value: ""} ---
                    %option{value: "1"} レディース
                    %option{value: "2"} メンズ
                    %option{value: "259"} ベビー・キッズ
                    %option{value: "387"} インテリア・住まい・小物
                    %option{value: "517"} 本・音楽・ゲーム
                    %option{value: "576"} おもちゃ・ホビー・グッズ
                    %option{value: "683"} コスメ・香水・美容
                    %option{value: "781"} 家電・スマホ・カメラ
                    %option{value: "867"} スポーツ・レジャー
                    %option{value: "976"} ハンドメイド
                    %option{value: "1026"} チケット
                    %option{value: "1085"} 自動車・オートバイ
                    %option{value: "138"} その他

            .sell-content__select-add-box
              .select-pulldown
                商品の状態
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down

                  %select.select-default
                    %option{value: ""} ---
                    %option{value: "1"} 新品、未使用
                    %option{value: "2"} 未使用に近い
                    %option{value: "3"} 目立った傷や汚れなし
                    %option{value: "4"} やや傷や汚れあり
                    %option{value: "5"} 傷や汚れあり
                    %option{value: "1328"} 全体的に状態が悪い

          .sell-content
            %h3.sell-content__head
              配送について
            .sell-content__select-box
              .select-pulldown
                配送料の負担
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down

                  %select.select-default
                    %option{value: ""} ---
                    %option{value: "1"} 送料込み(出品者負担)
                    %option{value: "2"} 着払い(購入者負担)


            .sell-content__select-add-box
              .select-pulldown
                発送元の地域
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down
                  = f.collection_select :id, Prefecture.all, :id, :name, {prompt: '---'}, class: "prefecture_id"


            .sell-content__select-add-box
              .select-pulldown
                発送までの日数
                %span 必須

                .select-wrap
                  %i.fas.fa-chevron-down

                  %select.select-default
                    %option{value: ""} ---
                    %option{value: "1"} 1~2日で発送
                    %option{value: "2"} 2~3日で発送
                    %option{value: "3"} 4~7日で発送

          .sell-content
            %h3.sell-content__head
              販売価格(300~9,999,999)
            .sell-content__select-box
              %form{oninput: "vop2.value = Number(a.value) - Number(a.value) / 10, vop1.value = Number(a.value) / 10;"}
                %li.select-decide
                  .select-decide__price
                    価格
                    %span 必須
                  
                  .select-decide__input
                    ¥
                    %input.input-default{name: "a", type: "number", placeholder: "例）300", value: ""}/

                .fee-box
                  .fee-box__left
                    販売手数料(10%)
                  .fee-box__right
                    %output{name: "vop1"} -

                .profit-box
                  .profit-box__left
                    販売利益
                  .profit-box__right
                    %output{name: "vop2"} -


          .sell-btn-box
            .sell-btn-box__note
              禁止されている出品、行為を必ずご確認ください。
              %br
              またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %br
              また、出品をもちまして加盟店規約に相違したことになります。
            .sell-btn-box__push
              %button.btn-default{type: "submit"} 出品する
            .sell-btn-box__back
              = link_to "#" do
                .btn-default
                  もどる



  %nav.footer
    %ul
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "メルカリ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
    = image_tag 'mercari_logo2.png'
    %p ©︎2019 Mercari