hoge
= @keyword
= form_with(url: search_items_path, method: :get, class: "header__inner__top__form", local: true) do |f|
  = f.submit
  = f.search_field :keyword, placeholder: "何かお探しですか？", class: "header__inner__top__form__input"
  = button_tag type: 'submit', class: "header__inner__top__form__icon" do
    %i.fa.fa-search

.container
  .main-box
    = render partial: 'items/search-sidebar'
    .search-main
      %h2.search-result 
        = @keyword
        %span の検索結果
      %p 該当する商品が見つかりません。検索条件を変えて、再度お試しください。
      %h3.latest-item  新着商品
      %ul.search-list
        = render partial: 'search-item-box', collection: @items, as: :item

  = render partial: 'items/bottom'

  = render partial: 'items/sell-btn'