= render partial: 'delete_dialog'
.detail-container
  = render partial: 'header'
  .item-big-box
    .item-big-box__name
      %h1
        = @item.name
    .item-big-box__wording
      %p 
        「
        = @item.name
        」は、＃＃回の取引実績をもつ
      %a
        = @item.user.nickname
        さんから出品されました。カテゴリー
      %a 
        = @item.category.name
        の商品で、
        = @item.shipping_from
        から発送されます。
    .item-big-box__main
      .item-big-box__main__photo
        .item-big-box__main__photo__big
          %img.owl-lazy{:alt => @item.pictures.first.image.url, "data-src" => @item.pictures.first.image.url, :src => @item.pictures.first.image.url, :style => "opacity: 1;"}/
        
        .item-big-box__main__photo__dot
      
      .item-big-box__main__table
        %table
          %tr 
            %th 出品者 
            %td 
              = link_to @item.user.nickname, user_path(@item.user)
              %div 
                %i.icon-good
                  %i.fas.fa-grin 
                %span 33
                %i.icon-meh
                  %i.fas.fa-meh
                %span 0
                %i.icon-frown
                  %i.fas.fa-frown
                %span 0

          -# ここから下のコメントアウトは、リンク設定用

          %tr 
            %th カテゴリー
            %td 
              .td-category
                = link_to "#{@item.category.root.name}", "#"
              .td-category
                = link_to "＞#{@item.category.parent.name}", "#"
              .td-category
                = link_to "＞#{@item.category.name}", "#"
          %tr 
            %th ブランド
            %td
              -if @item
                = link_to "＞#{@item.category.name}", "#"
              
          %tr 
            %th 商品のサイズ
            %td 
              - if @item&.size != nil
                = @item&.size.name
          %tr 
            %th 商品の状態
            %td
              = @item.condition.name
          %tr 
            %th 配送料の負担
            %td
              = @item.cost_burden.name
          %tr 
            %th 配送の方法
            %td 
              %a 未定
              -# = @item.shipping_method
          %tr 
            %th 配送元地域
            %td 
              = Prefecture.data[@item.shipping_from.to_i][:name]
          %tr 
            %th 発送日の目安
            %td 
              = @item.shipping_day.name
    .item-big-box__price
      %span.item-big-box__price__bold
        ¥
        = @item.price.to_s(:delimited)
      %span.item-big-box__price__tax
        (税込)
      %span.item-big-box__price__shipping-fee
        送料込み
    - if user_signed_in? && @item.user.id != current_user&.id
      .item-big-box__baloon
        %div.item-big-box__baloon__message
          売上金¥
          = current_user.balance.to_s(:delimited)
          を
          %br
          お持ちです

        %div.item-big-box__baloon__message::after
    - if user_signed_in? && @item.user.id != current_user&.id
      =link_to "購入画面に進む",purchase_confirmation_item_path, class:"item-big-box__buy-btn"
      
    .item-big-box__app-buy
      = link_to "#" do
        アプリで購入
    .item-big-box__description
      %p
        = @item.text
    .item-big-box__button
      .item-big-box__button__left
        .item-big-box__button__left__like
          %i.far.fa-heart
          %span いいね！
          %span ７
        .item-big-box__button__left__report
          %i.fas.fa-flag-usa
          %span 不適切な商品の報告
      .item-big-box__button__right
        = link_to "https://www.mercari.com/jp/safe/description/" do
          %i.fas.fa-lock
          %span あんしん•あんぜんへの取り組み
  - if user_signed_in? && @item.user.id == current_user.id
    .item-edit
      = link_to "商品の編集", edit_item_path(@item), class:"item-edit_btn"
      or
      = link_to "出品を一旦停止する", "#", class:"item-edit_btn item-edit_stop"
      = link_to "この商品を削除する", "#", class:"item-edit_btn item-edit_delete"
  .item-message
    .item-message__box
      .item-message__box__chat
        %ul.coments-all
          %li.coments
            .message-user
              .message-user__icon
                %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?2531475304"}/
              .message-user__name 
                コメントしたユーザー名
            .message-body
              コメントします、コメントします、コメントします
      .item-message__box__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .item-message__box__form__input
          %textarea.textarea-default{name: "body", type: "text", value: ""}
        .item-message__box__form__btn
          %input{:type => "submit", :value => "コメントする"}/

  .item-link
    .item-link__prev
      %a
      %i.fas.fa-chevron-left
      五右衛門風呂
    .item-link__next
      %a
      私の子供あげます
      %i.fas.fa-chevron-right

  .item-social
    .item-social__box
      .item-social__box__fb
        %i.fab.fa-facebook-square
      .item-social__box__twitter
        %i.fab.fa-twitter
      .item-social__box__pinterest
        %i.fab.fa-pinterest

  .item-exhibitor
    = link_to "#" do
      出品者さんのその他の出品

  .item-other
    %ul.item-other-list
      = render 'item-box_show', items: @items      
  .item-brand
    = link_to "#" do
      ブランド名カテゴリ のその他の水着

  .item-brand-other
    %ul.item-brand-other-list
      = render 'item-box_show', items: @items      

  .brand-crumb
    %ul
      %li
        %a メルカリ
        %i.fas.fa-chevron-right

      %li
        %span 現在の商品の名前


  = render partial: 'bottom'